li.dropdown > a > i {
    &.material-icons-outlined,
    &.material-icons {
        font-size: 1.3rem;
        margin-left: 4px;
    }
}

.sidebar-mini {
    ul.dropdown-menu {
        box-shadow: 0.3rem 0.3rem 0.7rem rgb(0 0 0 / 12%) !important;
    }
}

.table-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px auto;
}

.shadow {
    box-shadow: 0.3rem 0.3rem 0.7rem rgb(0 0 0 / 12%) !important;
}

.show-upload-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
